body {
    font-family: Arial, sans-serif;
    background-color:rgb(64, 111, 112);
    color: #fff;
    margin: 0;
    padding: 0;
}

#container {
    width: 90%;
    max-width: 800px; 
    margin: auto;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.contact {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    width: 100%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s; 
    color: #383838;
}

.contact:hover {
    transform: scale(1.02); 
    background-color: rgb(150, 202, 204);
    cursor: pointer;
    color:#fff
}

input {
    padding: 10px;
    width: calc(100% - 120px); 
    max-width: 200px; 
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: cadetblue;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color:rgb(49, 83, 83); 
}

body{
    animation: transitionIn 1s;
}

@keyframes transitionIn{
    from{
        opacity: 0;
        transform: translateY(-50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);


    }

}



@media (max-width: 600px) {
    .contact {
        width: 100%; 
        margin: 5px 0; 
    }

    input {
        width: calc(100% - 20px); 
        margin-right: 0; 
    }

    button {
        width: 100%; 
        margin-top: 10px; 
    }

    h1 {
        font-size: 1.5em; 
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    input {
        width: 100%}

    button {
        width: auto; 
    }
}